body {
  font-size: 1.8rem;
}

table, td {
  border: 1px solid rgb(107, 107, 107);
  border-collapse: collapse;
  margin: auto;
}

td[colspan="5"] {
  background-color: rgb(255, 255, 158);
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
}

tr:nth-child(1), td:nth-child(1) {
  background-color: rgb(219, 219, 219);
  text-align: center;
}

.mes:not(:nth-child(6)), .servicio {
  background-color: antiquewhite;
  font-weight: bold;
}
.mes:not(:last-child) {
  padding-right: 70px;
}

td[colspan="3"], .cuenta{
  background-color: rgb(202, 255, 202);
}

td:nth-child(3), td:nth-child(4), td:nth-child(5) {
  text-align: right;
}

tr .centrado {
  text-align: center;
}

.vacio {
  padding: 0 50px;
}